.Title:first-letter {
  text-transform: capitalize;
}
h1 {
  text-align: center;
}
.ui.menu {
  margin: 10px !important;
  background-color: transparent;
}
.ui.menu:not(.vertical) .item {
  letter-spacing: 1px;
}
.ui.menu .active.item {
  font-weight: 800;
}
* {
  background: transparent !important;
}
html {
  cursor: url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png")
      39 39,
    auto;
  background: rgb(34, 193, 195) !important;
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 0.45702030812324934) 100%
  ) !important;
  overflow: none;
  width: 100vw;
}

.image {
  border-radius: 1rem;
}
.ui.input > input {
  background-color: #ffffffa8 !important;
}
